<!DOCTYPE html>
{%extends 'ToDoApp/base.html'%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/taskdetail.css'%}">
{%block body %}
<div class="card text-bg-info mb-3" style="max-width: 100%;">
    <div class="card-header">{{task.title|title}} Due: {{task.reminder_time}}</div>
    <div class="card-body">
      <h5 class="card-title">{{task.title|title}}</h5>
      <p> <b>Activity: </b> {{task.activity}}</p>
      <p><b>Starting date and time: </b> {{task.starting_time}}</p>
      <p><b>Status: </b>{{task.status}}</p>   </div>
  </div>
<!-- <div class="card" style="width: 30rem;position: absolute;margin: auto;">
    <div class="card-body">
      <h5 class="card-title">{{tasks.title}}</h5>
      <p>{{tasks.activity}}</p>
      <p>{{tasks.starting_time}}</p>
      <p>{{tasks.status}}</p>  
    </div>
  </div> -->

<!-- <a href="{%url 'ToDoApp:home'%}"><button>Back</button></a> -->
{%endblock%}